<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mokee.permissionsmanager"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_permissionmanager"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Holo" >
        <activity
            android:name="com.mokee.permissionsmanager.activites.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mokee.permissionsmanager.fragments.AppOpsDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
    </application>

</manifest>